<div class="nav">
  <a href="#">Home</a>
  <a href="#">Open Visualizer</a>
  <a href="#">Technologies Used</a>
  <a href="#">About <meta name="keywords" content=""></a>
</div>
<section>
  <button (click)="generateArray()">Generate Visualization</button>
  <button (click)="sortt()">Insertion Sort(descending order)</button>
  <button (click)="quicksort(0,99)">Quick Sort</button>
  <button (click)="mergeSort(100)">Merge Sort</button>
  <button (click)="printArray()">print</button>
  <div class="bar" *ngFor="let items of arr; let i=index;" [id]="'bar'+i" ></div>
  </section>
<router-outlet></router-outlet>